.content
{
  width: 60%;
  margin-left: 20%;
  margin-top: 4%;
  border-style: solid;
  padding: 1em;
  color: white;
}

.titulo{
  margin-top: 3%;
  text-align: center;
}

.carimbo{
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  padding: 1em;
  color: white;
  text-align: center;
}

.card {
  padding: 1em;
}

.conteinerButton{
  width: 20%;
  margin-left: 40%;
}

@media print{
  .doNotPrint{display:none !important;}

    .content{
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    border-style: solid;
    padding: 1em;
    color: black;
  }

  .carimbo{
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    padding: 1em;
    color: black;
    text-align: center;
  }

}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-icon:hover {
  color: #deeaee
}

mat-icon:active {
  color: red;
}
