<div class="unicorn-dark-theme doNotPrint">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-fill-remaining-space" (click)="onPrint()">print</mat-icon>
      <mat-icon matTooltip="clique para retornar ao cadastro" (click)="onSucess()">assignment_return</mat-icon>
    </mat-toolbar-row>
    </mat-toolbar>
</div>



<div id="content">
  <div class="card" style="width: 25%; margin-left: 37.5%; margin-top: 2%;">
    <img [src]="logo" class="card-img-top" alt="...">
  </div>

  <div class="titulo">
    <h3>Comprovante de Atendimento</h3>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input [(ngModel)]="cadastro.atendido" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
          id="nome">
      </div>

      <div class="form-group">
        <label for="data">Data e Hora</label>
        <input type="text" [(ngModel)]="cadastro.data" [ngModelOptions]="{standalone: true}" class="form-control"
          id="data">
      </div>


      <div class="form-group">
        <label for="destino">Destino</label>
        <input type="text" [(ngModel)]="cadastro.destino" [ngModelOptions]="{standalone: true}" class="form-control"
          id="destino">
      </div>

      <div class="form-group">
        <label for="documento">Documento</label>
        <input type="text" [(ngModel)]="cadastro.documento" [ngModelOptions]="{standalone: true}" class="form-control"
          id="documento">
      </div>

      <div class="form-group">
        <label for="numero">Número</label>
        <input type="text" [(ngModel)]="cadastro.numero" [ngModelOptions]="{standalone: true}" class="form-control"
          id="numero">
      </div>

      <div class="form-group">
        <label for="atendente">Atendente</label>
        <input type="text" [(ngModel)]="cadastro.matricula" [ngModelOptions]="{standalone: true}" class="form-control"
          id="atendente">
      </div>

    </form>

  </div>

  <div class="border-top carimbo">
    <span>Assinatura e carimbo</span>
  </div>

